@model IEnumerable<Assignment.Data.Models.Domains.Application>

@{
    ViewData["Title"] = "Application";
}

<p>

</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Course)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Statement)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TeacherContact)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TeacherReference)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Offer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Firm)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Course)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Statement)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TeacherContact)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TeacherReference)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Offer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Firm)
            </td>
            <td>
                    <a asp-action="goFirm" asp-controller="Application" asp-route-id="@item.ApplicationId">Go Firm!</a>
                    <a asp-action="deleteApplication" asp-controller="Application" asp-route-id="@item.ApplicationId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
